**/.vscode/launch.json
*.app
.output/
.alcache/
.altemplates/
.alpackages/*
# To Include .alpackages app files remove below comment marker
#!**/.alpackages/**
*.g.xlf
*.flf
cred.json
rad.json
userconfig.json