.vscode/launch.json
.alpackages/Microsoft_Application_17.0.16244.0.app
.alpackages/Microsoft_Base Application_17.0.16244.0.app
.alpackages/Microsoft_System Application_17.0.16244.0.app
.alpackages/Microsoft_System_17.0.16223.0.app
Default publisher_ALInterfaces_1.0.0.0.app
